.page-container {
    width: 75%;
    max-width: 1500px;
    margin: 0 auto;
}

.images {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.image {
    opacity: 0;
    position: relative;
    transition: 1000ms;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100%;
    background-color: aqua;
}

.image.visible {
    top: 0 !important;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .page-container {
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    .images {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}